################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/KsHlsDownload/.vs/KsHlsDownload/CopilotIndices/17.14.1431.25910
/KsHlsDownload/.vs/KsHlsDownload/FileContentIndex/1787ed25-aa8e-4492-979b-72b486a68048.vsidx
/KsHlsDownload/.vs/KsHlsDownload/FileContentIndex/2053c3c4-e8eb-4529-9d23-ead6a8e9ec40.vsidx
/KsHlsDownload/.vs/KsHlsDownload/FileContentIndex/68e928e0-2319-48e7-ad0b-b35b0920eba7.vsidx
/KsHlsDownload/.vs/KsHlsDownload/FileContentIndex/fe83dc79-3577-41e5-89b5-a743d8753ac6.vsidx
